*{
  margin:0;padding:0;
}
input{outline:none;}
body{
  background: #2c3e50;
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 18.75rem;height: 25rem;
  background: #3498db;
  border-radius: 0.875rem;
}
.box p{
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.875rem;
}
.food{
  position: relative;
  margin-top: 1.25rem;
}
.food span,.food input{
  padding: 0.875rem;
  margin-top: 0.625rem;
}
.food span{
  color: #fff;
  font-size: 1.5rem;
}
.food input{
  border: 0;
  border-radius: 0.5rem;
  background:#34495e;
  color: #fff;
}
.box #qr{
  display: block;
  border: 0;
  margin: 1.875rem auto;
  background: #fff;
  width: 6.25rem;
  height: 2.5rem;
  background: #2ecc71;
  color: white;
  border-radius: 0.375rem;
  font-size: 1.5rem;
}
